body {
  font-family: cantarell, sans-serif;
}

header {
  position: fixed;
  background: #e2e2e2;
  border-bottom: solid 1px #babdb6;
  border-spacing: 5px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 7px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

header > p {
  font-size: 80%;
  max-width: none;
  margin: 0px;
  font-weight: normal;
  text-align: center;
}

a, a:visited {
  text-decoration: none;
  color: #3465a4;
}

a:hover {
  text-decoration: underline;
  color: #729fcf;
}

hr {
  color: #d3d7cf;
  background: #d3d7cf;
  border: none 0px;
  height: 1px;
  clear: both;
  margin: 2.0em 0em 2.0em 0em;
}

dt {
  font-weight: bold;
  margin-bottom: 0.5em;
}

dd {
  margin-bottom: 1em;
}

@media screen {
  body {
    padding-top: 2.5em;
    padding-bottom: 500px;
    max-width: 60em;
  }
}

@media screen and (min-width: 60em) {
  body {
    margin: auto;
  }
}

